<form method="post" action="/students">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />

  <label for="second-name-field">Second Name:</label>
  <input
  type="text"
  name="second_name"
  id="second-name-field"
  />

  <label for="house-selection">Select a house:</label>
  <select name="house" id="house-selection">
    <option value="Earth">Earth</option>
    <option value="Fire">Fire</option>
    <option value="Water">Water</option>
    <option value="Air">Air</option>
  </select>

  <label for="age-field">Age:</label>
  <input
  type="number"
  name="age"
  id="age-field"
  />

  <input type="submit" value="Enroll Student">
</form>
